---
# Como host tendremos el nombre que le hemos dado a la VM en Vagrant
- hosts: ECM
  # Necesitamos privilegios para instalar npm y git
  become: yes
  # Comenzamos la definición de tareas
  tasks:
    # Instala los paquetes básicos para comenzar con la instalación (npm y git)
  - name: instala npm
    changed_when: false
    apt:
      name: npm

  - name: instala git
    changed_when: false
    apt:
      name: git
  # Clonamos el repositorio del microservicio una vez que ya hemos instalado git
  - name: clona repositorio de microservicio
    changed_when: false
    git:
      repo: 'https://github.com/JJavier98/IV-Project'
      dest: ./IV-Project
      clone: yes
      update: no
  # Seguimos con otro paquete básico, node, que lo instalamos mediante
  # un script para poder definir la versión que queremos instalar
  - name: permisos de ejecución a script
    shell: chmod -x ./IV-Project/provision/install_nodejs_8.10.sh
    changed_when: false

  - name: instala nodejs
    shell: ./IV-Project/provision/install_nodejs_8.10.sh
    changed_when: false
  # Instalamos todas las dependencias marcadas en package.json
  - name: instala dependencias de package.json
    changed_when: false
    npm:
      path: ./IV-Project