sudo: 'required'
services:
  - 'docker'
# Lenguaje utilizado
language: node_js
# Versión del lenguaje utilizada
node_js:
  - 8.10.0
# Antes de instalar
before_install:
  # Iniciar sesión es docker
  - echo $DOCKER_PASSWORD | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t jjavier98/ecm .
  - docker push jjavier98/ecm
# Comando para instalar las dependencias
install:
  - npm install
# Scripts a ejecutar para realizar los tests
script:
  - gulp test