<nav>
    <a href="/">Inicio</a> <br>
    <a href="/api/community">Comunidades</a> <br>
    <a href="/api/member">Miembros</a> <br>
    <a href="/api/gestor">Gestores</a> <br>
    <a href="/api/der">DERs</a>
</nav>