version: 2.1

orbs:
  win: circleci/windows@1.0.0

jobs:
  build:
    docker:
      - image: node-8.10.0
    executor:
      name: win/vs2019
      shell: powershell.exe
    steps:
      - checkout
      - run:
          name: "Install project dependencies"
          command: npm install
      - run:
          name: "Install gulp globally"
          command: npm install gulp@latest -g
      - run:
          name: "Node version"
          command: node --version
      - run:
          name: "Run tests"
          command: gulp test