version: 2.1

orbs:
  win: circleci/windows@1.0.0

jobs:
  build:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run:
          name: "Install project dependencies"
          command: sudo npm install --no-option -g
      - run:
          name: "Run tests"
          command: gulp test