<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <center>
            <h1>Gestión de Comunidades Energéticas</h1>

            <h3>Índice</h3>
            <% include partials/navigation.ejs %>
        
            <h2>Contextualización</h2>
        
            Suponemos la existencia de una app de comunidades <br>
            energéticas para los gestores de estas comunidades. <br>
            Los gestores informarán a los miembros de la comunidad <br>
            cuándo es el mejor momento de producir o consumir energía <br>
            a través de la app. Los miembros de la comunidad poseen <br>
            algún tipo de recurso energético distribuido (DER) <br>
            que puede ser programado para consumir o generar energía <br>
            (instalación fotovoltaica, batería, cargador de coche eléctrico, <br>
            aire acondicionado inteligente...)
        
            <h2>Utilidad</h2>
        
            Con este microservicio usted será capaz de: <br>
            <b>crear, actualizar y borrar comunidades energéticas</b>,<br>
            además de poder <b>dar de alta a nuevos miembros</b>.
        
            <h2>Uso</h2>
            
            En el apartado <b>Comunidades</b> podrá ver las comunidades disponibles. <br>
        
            <b>DER</b> muestra los recursos energéticos a los que los miembros pueden tener acceso. <br>
        
            En <b>Miembros</b> podrá ver los miembros que forman parte de la plataforma <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;así como inscribir a nuevos. <br>
        
            Por último, en el apartado <b>Gestores</b>, encontraremos a aquellos que realizan este papel en las comunidades. <br>
    </center>

</body>
</html>