<nav>
    <a href="/">Inicio</a> <br>
    <!-- <a href="/community">Comunidades</a> <br>
    <a href="/member">Miembros</a> <br>
    <a href="/gestor">Gestores</a> <br>
    <a href="/der">DERs</a> <br>
    <a href="/gestor">Gestores</a> <br> -->
    <a href="/api-docs">Documentación</a>
</nav>